# Ignore VS Code configs
.vscode
*.bak
*.gho
*.ori
*.orig
*.tmp
*.exe

# Ignore test image files
test-binary.pgm
imageGrey.pgm
imageGradient.pgm
imageAdjusted.pgm
imageAdjustedBinary.pgm

# Ignore compiled executables
_
Out
